@use '../../sass/style.scss' as *;

.newUser{
    flex: 4;

    .newUserForm{
        display: flex;
        flex-wrap: wrap;

        .newUserItem{
            width: rem(400);
            display: flex;
            flex-direction: column;
            margin-top: rem(10);
            margin-right: rem(20);
            margin-bottom: rem(20);

            &>label{
                margin-bottom: rem(10);
                font-size: rem(14);
                font-weight: 600;
                color: rgb(151, 150, 150);
            }

            &>input{
                height: rem(50);
                padding: rem(10);
                border: rem(1) solid grey;
                border-radius: rem(5);
            }

            .newUserGender>input{
                margin-top: rem(15);
            }
            .newUserGender>label{
                margin: rem(10);
                font-size: rem(18);
                color: #555;
            }

            .newUserSelect{
                height: rem(40);
                border-radius: rem(5);
            }
        }

        .newUserButton{
            width: rem(200);
            border: none;
            background-color: darkblue;
            color: white;
            padding: rem(7) rem(10);
            border-radius: rem(10);
            font-weight: 600;
            margin-top: rem(30);
            cursor: pointer;
        }
    }
}