@use '../../sass/style.scss' as *;

.productList{
    flex: 4;
}

.productListItem{
    display: flex;
    align-items: center;
}

.productListImg{
    width: rem(32);
    height: rem(32);
    border-radius: 50%;
    object-fit: cover;
    margin-right: rem(10);
}

.productListEdit{
    border: none;
    border-radius: rem(10);
    padding: rem(5) rem(10);
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: rem(20);
}

.productListDelete{
    color: red;
    cursor: pointer;
}